@using Correos.Models;
@model Usuario

@{
    ViewData["Title"] = "Empleado";
}

@{
    var Empleados = (List<Usuario>)ViewData["usuarios"];
}

<h2>Empleados</h2>

@if(Empleados.Count != 0) {

    <ul class="nav nav-tabs">

        <li class="nav-item ">
            <a class="nav-link " href="@Url.Action("Empleado", "Usuario")">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Supervisor", "Usuario")">Supervisor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bodeguero</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Distribuidor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recepcionista</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Cajero", "Usuario")">Cajero</a>
        </li>
    </ul>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Opciones</div>
        <div class="panel-body">
            <a href="@Url.Action("AgregarCajero", "Usuario")" class="btn btn-default">Agregar cajero.</a>

        </div>
    </div>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sexo</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Previcion</th>
                <th scope="col">Fecha</th>
                <th scope="col">Telefono</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @{
                var auxiliar = 1;

                foreach(Usuario item in (List<Usuario>)Empleados) {

                    <tr>
                        <th scope="row">@auxiliar</th>
                        <td>@item.Rut</td>
                        <td>@item.Nombre</td>
                        <td>@item.Sexo</td>
                        <td>@item.Domicilio</td>
                        <td>@item.Previ</td>
                        <td>@item.Fecha</td>
                        <td>@item.Fono</td>
                        <td><a href="@Url.Action("ModificarUsuario", "Usuario", new { rut = item.Rut})"class="btn btn-success"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                        <td><a href="@Url.Action("EliminarUsuario", "Usuario", new { rut = item.Rut})"class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    </tr>
                    ++auxiliar;
                }

            }
        </tbody>

    </table>

} else {
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>No hay usuarios</h1>
        </div>
    </div>

}

